{% extends "base.html" %}
{% block title %}About Capacity Exchange{% endblock %}

{% block content %}
    <main class="main-content">
      <section class="hero-unit">
        <h1>Capacity Exchange</h1>
        <p>Capacity Exchange is a project that enables the exchange of knowledge, resources, and services within the Wikimedia movement. It is a pilot project, and is not currently usable for general purposes.</p>
      </section>

      <section class="call-to-action">
        <a href="https://capacity-exchange.wmcloud.org/">Alright reserved @ Capacity Exchange</a>
      </section>
    </main>
{% endblock %}