{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | CapX</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/w3-css/4.1.0/3/w3.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    {% block navbar %}{% include "navbar.html" %}{% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        let toggleBtn = $(".nav_menu");
        let toggleBtnIcon = $(".nav_menu_icon");
        let toggleBtnIconOpen = $(".nav_menu_icon.open");
        let dropDownMenu = $(".dropdown_menu");

        toggleBtn.on("click", function() {
            dropDownMenu.toggleClass('open');
            let isOpen = dropDownMenu.hasClass('open');

            if (isOpen) {
                toggleBtnIcon.css("display", "none");
                toggleBtnIconOpen.css("display","block");
            } else {
                toggleBtnIcon.css("display","block");
                toggleBtnIconOpen.css("display","none");
            }
        });
    </script>
    {% block scripts %}{% endblock %}
</div>
</body>
</html>