{% load static %}
{% load i18n %}

<nav class="navbar_wrapper">
    <a class="nav_logo_container" href="{% url 'users:homepage' %}">
        <img class="nav_logo" src="{% static 'images/logo.svg' %}" alt="{% trans 'Logo of Capacity Exchange' %}" aria-label="{% trans 'Logo of Capacity Exchange' %}">
        <span class="nav_logo_text">{% trans "Capacity Exchange" %}</span>
    </a>
    <div class="nav_section menu_links">
        <a href="{% url 'users:homepage' %}">{% trans "Skills" %}</a>
        <a href="{% url 'users:homepage' %}">{% trans "Profile" %}</a>
        <a href="{% url 'users:homepage' %}">{% trans "Feedback" %}</a>
        <div class="search-container">
            <form>
                <input type="text" placeholder="Search.." name="search">
                <button class="nav_search_btn">
                    <img class="nav_search_icon" src="{% static 'images/magnifying-glass-solid.svg' %}" alt="{% trans 'Search in Capacity Exchange' %}" aria-label="{% trans 'Search in Capacity Exchange' %}">
                </button>
            </form>
        </div>
    </div>
    <div class="nav_section nav_menu">
        <img class="nav_menu_icon" src="{% static 'images/bars-solid.svg' %}" alt="{% trans 'Menu' %}" aria-label="{% trans 'Menu' %}">
        <img class="nav_menu_icon open" src="{% static 'images/xmark-solid.svg' %}" alt="{% trans 'Close menu' %}" aria-label="{% trans 'Close menu' %}">
    </div>
    <div class="nav_section dropdown_menu">
        <a href="{% url 'users:homepage' %}">{% trans "Skills" %}</a>
        <a href="{% url 'users:homepage' %}">{% trans "Profile" %}</a>
        <a href="{% url 'users:homepage' %}">{% trans "Feedback" %}</a>
    </div>
</nav>