{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
    <div class="w3-container" style="height: calc(100vh - 5em)">
        <div class="w3-row">
            <div class="w3-quarter invisible">&nbsp;</div>
            <div class="w3-half"><h1>{% trans "Welcome to the Capacity Exchange Prototype!" %}</h1></div>
            <div class="w3-quarter invisible">&nbsp;</div>
        </div>
        <div class="w3-row text-block">
            <div class="w3-quarter invisible">&nbsp;</div>
            <div class="w3-half">{% blocktrans %}The <b>Capacity Exchange (CapX)</b> is a project focusing on <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Movement_Strategy/Initiatives/Global_Approach_for_Local_Skill_Development" aria-label="Link for the Global Approach for Local Skill Development initiative">Global Approaches to Local Skills Development</a> within and for the Wikimedia Movement. It establishes a sociotechnical platform for peer-to-peer connection and knowledge sharing to sustainably enable community-based capacity-building.{% endblocktrans %}</div>
            <div class="w3-quarter invisible">&nbsp;</div>
        </div>
        <div class="w3-row text-block">
            <div class="w3-quarter invisible">&nbsp;</div>
            <div class="w3-half">{% trans "This is still a prototype, in development. Any feedback is appreciated." %}</div>
            <div class="w3-quarter invisible">&nbsp;</div>
        </div>
        <div class="w3-row">
            <div class="w3-quarter invisible">&nbsp;</div>
            <div class="w3-half">
                <div class="w3-row text-block">
                    {% if user.is_authenticated %}
                        <a href="{% url 'users:logout' %}"><button type="button" class="red_btn" title="{% trans 'Logout of the Capacity Exchange Prototype' %}">{% trans "Logout" %}</button></a>
                    {% else %}
                        <a href="{% url 'users:login' %}"><button type="button" class="blue_btn" title="{% trans 'Enter the Capacity Exchange Prototype' %}">{% trans "Login" %}</button></a>
                    {% endif %}
                </div>
                <div class="w3-row text-block"><a href="{% url 'admin:index' %}"><button type="button" class="blue_btn" title="{% trans 'Go to the Admin Panel' %}">{% trans "Go to the Admin Panel" %}</button></a></div>
            </div>
            <div class="w3-quarter invisible">&nbsp;</div>
        </div>
    </div>
{% endblock %}